* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(253, 226, 72);
}

header {
  display: flex;
  width: 50vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

div {
  margin-top: 10px;
}

.container {
  margin: 20px 0;
}

#genero {
  text-decoration: none;
  border: none;
  margin-left: 10px;
  border-radius: none;
  padding: 40px;
  font-size: 16px;
}

.containerDiretor button {
  font-size: 14px;
  border: none;
  color: white;
  background: rgb(224, 175, 11);
  padding: 5px;
  margin-left: 20px;
  text-transform: uppercase;
}

.btn-limpar {
  font-size: 16px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  color: white;
  background: rgb(224, 175, 11);
  padding: 5px;
  text-transform: uppercase;
  display: none;
}
.containerSugestao {
  font-size: 40px;
  text-align: center;
}

.containerSugestao p {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vw;
  justify-content: start;
}
